{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Admin page{% endblock %}

{% block main %}
    <div class="alert alert-info">
        <h2 class="alert-heading">Welcome to the admin page!</h2>
        <p>
            This page is displayed because you have registered the <code>admin</code> route
            in your application.
        </p>
        <p>
            Now you can use the menu on the left to manage your application entities.
        </p>
    </div>
{% endblock %}
