{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-row justify-center h-full">
        <div class="flex flex-col justify-center h-full">
        {{ include('shop/components/navigation.html.twig', {
            categories: categories,
        }) }}
        </div>
    </div>
{% endblock %}
