<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block cardMeta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@arcverse">
        <meta name="twitter:title" content="arcverse - Minigames Network">
        <meta name="twitter:description"
              content="Arcverse, our upcoming Minecraft network, promises an immersive gaming experience with a range of exciting minigames and unique gamemodes. Stay tuned for updates as we work diligently to bring you a seamless and enjoyable platform. 🚧🎮">
        <meta name="twitter:image" content='{{ asset("images/logo-banner.png") }}'>
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🛸</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://kit.fontawesome.com/3ddcb66a69.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body {% block bodyAttr %}{% endblock %}>
{% block body %}{% endblock %}
</body>
</html>
