<div class="w-full h-fit flex flex-col justify-center rounded-lg bg-slate-800">
    <div class="flex flex-row justify-between px-16 py-4 gap-x-16">
        <div class="flex flex-col justify-center">
            <img src="{{ asset('images/discord-logo.png') }}" alt="discord logo" class="h-16 w-28" />
        </div>
        <div class="flex flex-col justify-center">
            <div>
                <div class="mb-2.5">
                    Join our Discord {{ include('components/ui/button.html.twig', {
                        variant: "default",
                        label: "Join",
                        href: "https://discord.arcver.se",
                        class: "",
                        icon: ""
                    }) }}
                </div>
                <div>
                    Our discord is available for everone, you can ask questions, chat with others and get notified about new updates.
                </div>
            </div>
        </div>
    </div>
</div>
